@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&family=Protest+Strike&display=swap');

body {
	font-family: "protest strike", sans-serif; 
	background-color: #FAEDCD;
	text-align: center;
}


nav{
	display: flex;
	justify-content: space-between;
	background: #14213D;
	box-shadow: 0px 4px 14.5px 5px rgba(0, 0, 0, 0.91);
	padding: 2rem 3rem;color: #000;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 40px;	
	color: #fff;
}
 
a{
 	color: #fff;
 	text-decoration: none;
 }

a:hover{
	color: #fff;
 	text-decoration: underline;	
 }

.container {
  	border: 2px solid #ccc;
  	background-color: #F4845F8C;
  	border-radius: 49px;
  	padding: 90px;
  	margin: 50px 0;
  	box-shadow: 0px 4px 39.1px 7px rgba(0, 0, 0, 0.76);
  }

.container img { 
  		float: left;
  		margin-right: 20px;
  		border-radius: 60%;
}
.container span {
  		font-size: 20px;
  		margin-right: 875px;
}
@media (max-width: 500px) {
.container {
   	text-align: center;
  }

.container img {
    margin: auto;
    float: none;
    display: block;
  }


	.image-row {
  		display: flex;
  		justify-content: space-between;
 }

 h1{
 	width: 372px;
	height: 225.411px;
	flex-shrink: 0;
	color: #000;
	text-align: center;
	font-family: protest strike;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
 }

 .container {
 	border: 2px solid #ccc;
  	background-color: #F4845F8C;
  	border-radius: 0px;
  	padding: 90px;
  	margin: 50px 0;
  	box-shadow: 0px 4px 39.1px 7px rgba(0, 0, 0, 0.76);

 }

.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: protest strike, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}